La valeur DTEND ne semble pas respecter la RFC 5545

La valeur DTEND pour chaque évènement dans le fichier jours_feries_metropole.ics (je n'ai pas vérifié les autres calendriers) ne semble pas respecter la RFC 5545 (section 3.6.1. Event Component), dans laquelle il est indiqué :

> The "DTEND" property for a "VEVENT" calendar component specifies the non-inclusive end of the event.

Pour chaque évènement, on devrait donc avoir une DTEND postérieure à DTSTART, et non égale.
Exemple actuel pour le 11 novembre :
DTSTART;VALUE=DATE:20241111
DTEND;VALUE=DATE:20241111
Exemple attendu pour le  11 novembre :
DTSTART;VALUE=DATE:20241111
DTEND;VALUE=DATE:20241112

Ceci provoque divers problèmes, par exemple lors de l'import du .ics dans Nextcloud, la date de fin est antérieure à la date de début : 
![image](https://github.com/user-attachments/assets/8913a18f-454e-486e-9284-ee58789c689e)

Dans Microsoft Outlook, les events apparaissent mais ne durent que de minuit à une heure du matin au lieu de durer toute la journée. Je pense que cela est probablement lié à cette issue.